.title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 5px 10px;
  color: white;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 20px 0.5px #000000;
  width: fit-content;
  margin: 0 auto;
}

.input input:first-child {
  border: none;
  background: #d5d5d5;
  color: black;

  padding: 14px 16px;
  font-size: 15px;
  outline: none;
}

.input input:nth-child(2) {
  font-size: 15px;
  padding: 14px 20px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  font-weight: 600;
}

.input input:first-child:focus {
  box-shadow: 0 0 10px 1000px rgb(0, 0, 0, 0.4);

  outline: none;
}
